<button (click)="onBackToCountries()" [className]="darkmode == 'darkmode-off' ? 'backToList' : 'backToList-darkmode'">back</button>
<div></div>
<div [className]="darkmode == 'darkmode-off' ? 'selectedItemData' : 'selectedItemData-darkmode'">
	<div class="selectedItemImg"><img src={{selectedCountry.flag}} alt="flag" class="flags"/></div>
		<div class="details">
			<div class="countryName">{{selectedCountry.name}}</div>
			<div class="selectedItemDetails">
				<div>
					<div> <span>Native Name: </span>{{selectedCountry.nativeName}}</div>
					<div> <span>population: </span>{{selectedCountry.population}}</div>
					<div> <span>region: </span>{{selectedCountry.region}}</div>
					<div> <span>Sub Region: </span>{{selectedCountry.subregion}}</div>
					<div><span>capital: </span>{{selectedCountry.capital}}</div>
				</div>
				<div>
            <div> <span>Top Level Domain: </span>{{selectedCountry.topLevelDomain}}</div>
						<div>
							<span>currencies: </span><span *ngFor="let currencie of selectedCountry.currencies">{{currencie.name}}, </span>
						</div>
						<div>
							<span>languages: </span><span *ngFor="let language of selectedCountry.languages">{{language.name}}, </span>
						</div>
						<div> <span>Sub Region: </span>{{selectedCountry.subregion}}</div>
				</div>
			</div>
			<div class="borders">border countries:
				<button  (click)="goToBorderCard(border)" [className]="darkmode == 'darkmode-off' ? 'border' : 'border-darkmode'" *ngFor="let border of cardborders">{{border.name}} </button>
			</div>
		</div>

	</div>