.search{
   border-color: whitesmoke;
    border-radius: 4px;
    width: 45%;
    margin: 5% 10%;
    height: 30px;
    box-sizing: border-box;
    padding: 17px;
}
.search-darkmode{
  border-color:  lightslategrey;
    border-radius: 4px;
   width: 45%;
    margin: 5% 10%;
    height: 30px;
    color:white;
    background-color: #2b3743;
    box-sizing: border-box;
     padding: 17px;
}
.filterLabel-darkmode{
   -webkit-text-fill-color: white;
   padding: 25px;
}
.filter-darkmode{
   background-color: #2b3743;
    color:white;
    box-sizing: border-box;
    padding: 5px;
     margin-left: 10%;
    border-radius: 4px;
    border-color: lightslategrey;
}
.filter{
  box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    margin-left: 10%;
    border-color: whitesmoke;
}
.cardsHoalder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
