.filter-search-holder{
  display:flex;
}

.filter-holder{
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.search{
   border-color: whitesmoke;
    border-radius: 4px;
    width: 45%;
    margin: 5% 10%;
    height: 30px;
    box-sizing: border-box;
    padding: 17px;
}
.search-darkmode{
  border-color:  lightslategrey;
  border-radius: 4px;
   width: 45%;
    margin: 5% 10%;
    height: 30px;
    color:white;
    background-color: #2b3743;
    box-sizing: border-box;
     padding: 17px;
}
.filterLabel{
 margin-left: 10%;
 border-color: whitesmoke;
 background-color: white;
 width: 8.4em;
 border-radius: 4px 4px 0px 4px;
 text-align: center;
}
.filterLabel-darkmode{
  margin-left: 10%;
  background-color: #2b3743;
   -webkit-text-fill-color: white;
 width: 8.4em;
 border-radius: 4px 4px 0px 4px;
 text-align: center;
}
.filter-darkmode{
   background-color: #2b3743;
    color:white;
    box-sizing: border-box;
    padding: 2% 5% 0% 5%;
    border-radius: 0px 4px 4px 4px;
    margin-left: 10%;
    border-color: transparent;
    width: 10em;
    text-align: center;
}
.filter{
  box-sizing: border-box;
  padding: 2% 5% 0% 5%;
    border-radius: 0px 4px 4px 4px;
    margin-left: 10%;
    border-color: transparent;
    width: 10em;
    text-align: center;
}
.cardsHoalder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
